:root{
  /* ## Colors */

--White: hsl(0, 0%, 100%);
--Light-gray: hsl(212, 45%, 89%);
--Grayish-blue: hsl(220, 15%, 55%);
--Dark-blue: hsl(218, 44%, 22%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--Light-gray);
  font-size: 15px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  font-family: Arial;
  
}

.container{
  background-color: var(--White);
  padding: 20px;
  width: 300px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.qr-code__image img{
  width: 100%;
  border-radius: 10px;
}

.text{
  padding: 15px;
}

.text h1{
  font-size: 16px;
  color: var(--Dark-blue);
  margin-bottom: 18px;
  text-align: center;
  font-weight: 900;
}

.text p{
  color: var(--Grayish-blue);
  text-align: center;
  font-weight: 400;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }